@page
@model AdminHelper.Pages.Employee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EmployeeFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EmployeeFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EmployeeLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EmployeeLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EmployeeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EmployeeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.CellNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.CellNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EmergencyContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EmergencyContactNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmployeeModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
